*{
    margin:0
}

.titlebar{
    max-height: 100px;
    background-color: rgb(175, 0, 214);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.titlebar>div{
    margin: 10px;
}
.logo-img{
    height: 80px;
}
.titlebar-buttons{
    display: flex;
    justify-content: center;
}
.titlebar-buttons>div{
    margin-top: auto;
    margin-bottom: auto;
}
.titlebar-buttons>div>button{
    background-color: rgb(175, 0, 214); 
    border: none;
    color: white;
    margin: 3px;
}
.titlebar-buttons>div>button>img{
    width: 40px;
}
.homepage-welcome-animation-container{
    position: fixed;
    top:100px;
    width: 100%;
    z-index: -1;
}
.homepage-welcome-animation{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.homepage-welcome-animation>img{
    width: 100%;
    max-height: 85vh;
}
.homepage-main-content{
    background-color: white;
    position: relative;
    z-index: 0;
    top: 100vh;
    width: 100vw;
}
.homepage-AiieAiim-buttons{
    display: flex;
    margin: auto;
    width: 100vw;
    justify-content: space-between;
}
.homepage-AiieAiim-buttons>div{
    text-align: center;
}
.divider{
    height: 85vh;
    border-left: 4px solid black;
    margin: auto;
    border-radius: 10px;
}
@keyframes aiieaiim{
    from {width: 0px;}
    to {width: 45vw;}
}
.animated{
    height: 80vh;
    width: 45vw;
    margin: auto;
    box-sizing: border-box;
}
.homepage-AiieAiim-buttons>div>button{
    border: 1px solid black;
    width: 45vw;
    height: 80vh;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
}
.AIIM{
    float: right;
}
.AIIE{
    float: left;
}
.add-animation{
    animation: aiieaiim 3s;
}
.section-heading{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.grid-content{
    display: grid;
    overflow-y: scroll;
    width: 95vw;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    border: 1px solid black;
    padding: 10px;
}
.box{
    position: relative;
    color: rgba(0, 0, 0);
    font-size: 2rem;
    font-family: sans-serif; 
    border: 1px solid black;   
}
  
.tall{
    grid-column: span 1;
    grid-row: span 1;
}
  
.wide{
    grid-row: span 1;
    grid-column: span 2;
}
  
  
